* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url("/public/assets/fondo0.avif") no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: #333;
  line-height: 1.6;
}

.container {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 2%;
}

header {
  background-color: #000000;
  height: 50px;
  flex-shrink: 0;
  position: fixed; /* Fija el menú de navegación */
  top: 0; /* Se mantendrá en la parte superior */
  left: 0; /* Alineado al borde izquierdo */
  width: 100%; /* Ocupa el ancho completo de la ventana */
  z-index: 1000; /* Asegura que esté por encima de otros elementos */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Añade una sombra para darle un efecto elevado */
}

header nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 20px;
}
.c {
  font-size: 0.9em;
  cursor: pointer;
  font-weight: bold;
  padding: 7px 15px;
  border-radius: 15px;
  border: 1px solid #000000;
  color: #ffffff;
  background: linear-gradient(90deg, #c44dcd, #7c70f8);
  box-shadow: 2px 2px 2px rgba(81, 80, 80, 0.5);
}

.c:hover {
  background: linear-gradient(90deg, #d94fff, #6fa2ff);
}

header .cap,
.inc {
  padding: 5px 10px;
  text-decoration: none;
  font-weight: bold;
  color: #ffffff;
  font-size: 1em;
  margin-right: 10px;
  margin-top: 4px;
  transition: all 0.3s;
}

header a:hover {
  color: #ff94f8;
  transform: scale(1.08);
}
.slogo {
  margin-left: 10px;
  padding-top: 3px;
  height: 42px;
  width: auto;
}

.hero {
  background-color: rgba(123, 112, 248, 0.858);
  color: #fff;
  padding: 100px 20px;
  text-align: center;
}

.hero h2 {
  font-size: 4rem;
  margin-bottom: 1rem;
  font-family:Arial, Helvetica, sans-serif; 
  color: rgb(187, 112, 233);
  text-shadow: -1px 0 1px #000000, 0 1px 1px #000000, 1px 0 1px #000000,
    0 -1px 1px #000000, -2px 2px 2px #000000, 2px 2px 2px #000000,
    1px 1px 1px #000000, 2px 2px 2px #000000, 3px 3px 3px #000000,
    4px 4px #414d68, 5px 5px #414d68, 6px 6px #414d68, 7px 7px #414d68,
    8px 8px #414d68, 9px 9px #414d68;
}

.hero p {
  font-size: 1.2rem;
  max-width: 800px;
  margin: 0 auto;
}

.team-section {
  padding: 50px 20px;
  background-color: #fff;
}

.team-section h3 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 2rem;
  margin-right: 10px;
  color: #333;
}

.team-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 1.5rem;
  max-width: 1200px;
  margin: 0 auto;
}

.team-grid .email {
  color: #c44dcd;
}
.team-member {
  text-align: center;
  background-color: #f9f8f8;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.team-member img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
}

.team-member h4 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.team-member p {
  font-size: 1rem;
  color: #666;
}

.team-member:hover {
  transform: scale(1.05);
}

footer {
  background-color: #7c70f8;
  color: #fff;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
}

footer p {
  font-size: 1rem;
}
