* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

:root {
    --background-sidebar:#ffffff;
    --text-color: hsla(0, 0%, 100%, 0.896);
    --button-background:#bc78e4;
    --color-hover:rgb(255, 255, 255);
    --img: url('/public/assets/fondo00.avif');
    --button-hover:rgb(182, 108, 182);
    --button-text: rgb(255, 255, 255);
    --chat-area-bg:hsla(0, 0%, 97%, 0.774);
    --input-area-bg: #ffffff;
    --input-text-color: rgb(2, 2, 2);
    --send-btn-bg:#bd9ec0;
    --chat-container-color:#cca7d3 #8d5baa;
    --send-btn2-color:#bd9ec0;
    --send-btn-hover:rgb(182, 108, 182);
}

body {
    color: var(--text-color);
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 250px;
    background-color: var(--background-sidebar);
    padding: 20px;
}

.container .circle {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #ccc;
    margin: 25px 35px 50px;
    background-color: white;
}

.circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.menu {
    display: flex;
    flex-direction: column;
}

.btn {
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: var(--button-background);
    color: var(--button-text);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-align: left;
}

.btn:hover {
    background-color: var(--button-hover);
    color: var(--color-hover);
}

.chat-area {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: var(--img);
    background-size: cover;
    background-position: center;
    padding: 20px;
    position: relative;
}

.chat-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: white;
    margin-bottom: 10px;
    z-index: 1;
}

#chat-container {
    height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px;
    margin-top: -30px;
    border-radius: 5px;
    background-color: var(--chat-area-bg);
    scrollbar-width: 20px;
    scrollbar-color: var(--chat-container-color);
}

.chat-box::-webkit-scrollbar {
    width: 8px;
}

.status {
    margin-left: 10px;
    margin-top: -10px;
}

.status-indicator {
    width: 20px;
    height: 20px;
    margin-top: -20px;
    background-color: rgb(4, 139, 4);
    border-radius: 50%;
    margin-left: 100px;
    z-index: 1;
}

.input-area {
    display: flex;
    align-items: center;
    background-color: var(--input-area-bg);
    width: 94%;
    color: var(--input-text-color);
    text-decoration: none;
    border-radius: 50px;
}

.input-area::placeholder {
    background-color: transparent;
    text-decoration-color: none;
}

input[type="text"] {
    flex: 1;
    background-color: transparent;
    border: none;
    font-size: 16px;
    padding: 10px;
    outline: none;
    color: var(--input-text-color);
}

input::placeholder {
    flex: 1;
    background-color: transparent;
    font-size: 16px;
    padding-right: 20px;
}

input[type="text"]::placeholder {
    color: var(--input-text-color);
    background: none;
    border: none;
    text-decoration: none;
}

input[type="text"]:focus {
    background-color: transparent;
    outline: none;
    border: none;
}

.send-btn {
    position: absolute;
    right: 9%;
    width: 40px;
    height: 40px;
    background-color: var(--send-btn-bg);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    z-index: 1;
}

.send-btn2 {
    width: 50px;
    height: 50px;
    background-color: var(--send-btn2-color);
    border: none;
    border-radius: 50%;
    margin-left: 120%;
    cursor: pointer;
}

.send-btn:hover {
    background-color: var(--send-btn-hover);
    color: white;
}

.send-btn2:hover {
    background-color: var(--send-btn-hover);
    color: white;
}

.send-btn i {
    color: #ffffff;
    font-size: 20px;
    position: absolute;
    margin-top: 1px;
    right: 25%;
    z-index: 1;
    transform: rotate(-45deg);
}

.send-btn2 i {
    position: absolute;
    right: 42px;
    color: #ffffff;
    margin-top: -12px;
    transform: rotate(-1deg);
    font-size: 23px;
    z-index: 1;
}

.message-box {
    margin-top: -10px;
    padding: 15px 16px;
    border-radius: 10px;
    margin-bottom: 20px;
    word-wrap: break-word; 
    word-break: break-all; 
    display: inline-block; 
    white-space: pre-wrap; 
}

.message-box.usuario {
    background-color: #614070;
    align-self: flex-end;
    width: 60%;
    margin-left: 40%;
   
}

.message-box.ia {
    background-color: #7f498f;
    align-self: flex-start;
    padding: 20px ;
    width: 60%;
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fefefe;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: #000;
    cursor: pointer;
}

.content ul {
    list-style-type: none;
}

.content li {
    margin-bottom: 20px;
}

.content h3 {
    font-size: 18px;
    margin-bottom: 70px;
    color: #000000;
    margin-top: -20px;
}

.option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000;
}

.option select,
.option input[type="checkbox"] {
    padding: 5px;
    font-size: 16px;
}
.header button{
    position: relative;
    margin-top: -45px;
    width: 35px;
    height: 35px;
    left: 10px;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    cursor: pointer;
}
button {
    padding: 10px 20px;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}
.close-btn {
    width: 40px;
    height: 40px;
    padding: 10px 20px;
    color: white;
    font-size: 16px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 90%;
    border-radius: 4px;
    background-color: #000;
}

button:hover {
    background-color: #000000d2;
}

/* Botones de tema */
.theme-options button {
   border: 2px solid rgb(0, 0, 0);
   padding: 10px 10px;
   
}

#light-mode-btn {
    background-color: #ffffff;
    color:#000;
}

#dark-mode-btn {
    background-color: #000000;
    color: white;
}

/* Modos */
/* Modo Claro */
.light-mode {
    --background-sidebar:#ffffff;
    --text-color: hsla(0, 0%, 100%, 0.896);
    --button-background:#bc78e4;
    --color-hover:rgb(255, 255, 255);
    --img: url('/public/assets/fondo03.avif');
    --button-hover:rgb(182, 108, 182);
    --button-text: rgb(255, 255, 255);
    --chat-area-bg: hsla(0, 0%, 100%, 0.452);
    --input-area-bg: #ffffff;
    --input-text-color: rgb(2, 2, 2);
    --send-btn-bg: #bd9ec0;
    --chat-container-color: #a17fa8 #dbb5ec;
    --send-btn2-color: #bd9ec0;
    --send-btn-hover: rgb(182, 108, 182);
}

/* Modo Oscuro */
.dark-theme {
    --background-sidebar:#0F1F39;
    --text-color: white;
    --img: url('/public/assets/fondo0.avif');
    --button-background:#3E1F42;
    --color-hover:rgb(255, 255, 255);
    --button-hover:#562a5c;
    --button-text: white;
    --chat-area-bg: hsla(217, 58%, 14%, 0.896);
    --input-area-bg: hsla(217, 58%, 14%, 0.896);
    --input-text-color: white;
    --send-btn-bg:#022052;
    --chat-container-color:#35276b #0F1F39;
    --send-btn2-color:#022052;
    --send-btn-hover:#0d2c63;
}

/*VENTANA DE DOCUMENTOS*/
.modal-container {
    display: none;
    position: fixed;
    pointer-events: none;
    top: 0;
    left: 0;
    color: #000;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center; 
}

.modal-container.show {
    display: flex;  
    pointer-events: auto;  
}

.modal2 {
    background-color: white;
    padding: 20px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 450px;
    height:300px ;
    position: relative;  
    border: 10px double #022052;

}

/* Estilo del botón de cerrar */
.close-button2 {
    position: absolute;
    width: 15px;
    height: 15px;
    color: #000000;
    margin-top: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 150px;
    cursor: pointer;
  }
  .close-button button {
    position: absolute;
    top: -15px;
    right: -15px;
    width: 30px;
    height: 30px;
    background-color: rgb(22, 41, 49);
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
  }
  .port-doc {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #BFD2D9;
    display: flex;
    justify-content: center;
    cursor: pointer;
    overflow: hidden;
    margin-top: 40%;
    margin-left: 10px;
    position: relative;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
  }

  .modal-header h2{
    display: block;
    margin: 0 auto; 
    margin-top: 10px; 
    white-space: nowrap;
    text-align: center;
}
.upload-area p{
    white-space: nowrap;
    margin-top: 20px;
    text-align: center;

}
.upload-area{
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    text-align: center;
    margin-top: -40px;
}
.modal-footer p{
    text-align: center; 
    margin-top: 10px;
}
