html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

body {
  background: linear-gradient(90deg, #5c2762, #0f1f39);
  background-repeat: no-repeat;
  font-family: "Inter", sans-serif;
}

h1 {
  font-size: 3.5em;
  margin-bottom: 10px;
  text-align: left;
  letter-spacing: 0.05em;
  margin-right: 70px;
  color: #ffffff;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

h1 .k {
  color: #837bf2;
  text-decoration: none;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.k:hover {
  cursor: auto;
}
.ia {
  color: #ff94f8;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.r {
  font-size: 1.5em;
  font-weight: bold;
  padding: 10px 42px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  color: white;
  background: linear-gradient(90deg, #c44dcd, #7c70f8);
  margin-top: 20px;
  text-align: center;
}

.i {
  font-size: 1.1em;
  font-weight: bold;
  padding: 7px 30px;
  border-radius: 15px;
  border: 1px solid #000000;
  color: #ffffff;
  background: linear-gradient(90deg, #c44dcd, #7c70f8);
  box-shadow: 2px 2px 2px rgba(81, 80, 80, 0.5);
}

.r:hover {
  cursor: pointer;
}

.i:hover {
  color: white;
  cursor: pointer;
}

.container {
  margin: auto;
}

header {
  background-color: #000000;
}

header .container {
  display: flex;
  flex-direction: column;
  align-items: end;
  text-align: center;
}

header nav {
  padding: 10px 42px;
}

header a {
  padding: 5px 12px;
  text-decoration: none;
  font-weight: bold;
  color: #ffffff;
  font-size: 1.1em;
  margin-right: 15px;
  margin-top: 4px;
}

header a:hover {
  color: #ff94f8;
}

#hero {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: auto;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 1;
}

.Simg {
  height: 93vh;
  width: auto;
  object-fit: cover;
  margin-left: -200px;
  z-index: 0;
}
