* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url("/public/assets/espartano.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}
.container {
  position: relative;
  width: 680px;
  height: 450px;
  background: hsla(240, 1%, 64%, 0.493);
  color: #fff;
  border: 1px solid rgb(0, 0, 0);
  box-shadow: 0 0 26px #000000;
  border-radius: 30px;
  background-size: cover;
  z-index: 1;
}

.container .form-box {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.form-box h1 {
  font-size: 27px;
  width: 54%;
  margin-top: -90px;
  color: #ffffff;
  outline: none;
  border-radius: 35px;
  background: linear-gradient(to right, #c44dcd, #7c70f8);
  text-align: center;
  margin-left: 65px;
  padding: 6px 18px;
  border: 2px solid #ffffff;
}

.form-box .inputbox {
  position: relative;
  width: 78%;
  height: 50px;
  margin: 25px;
}
.inputbox input {
  width: 89%;
  height: 80%;
  background: white;
  border: none;
  outline: none;
  box-shadow: 0 0 9px hsla(0, 20%, 1%, 0.425);
  border-radius: 35px;
  font-size: 16px;
  margin-left: 13px;
  padding: 20px 45px 20px 20px;
}
input::placeholder {
  color: #c3bfbf;
}
.inputbox label {
  margin: 20px;
}
.inputbox-iniciar button {
  background: linear-gradient(90deg, #c44dcd, #7c70f8);
  color: white;
  border: 2px solid #ffffff;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 25px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  outline: none;
  transition: background 0.3s ease;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  margin-left: 65px;
  margin-top: 25px;
  width: 54%;
  height: 10%;
}

.inputbox-iniciar button:hover {
  background: linear-gradient(90deg, #d94fff, #6fa2ff);
}
.inputbox-iniciar button a {
  color: white;
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
  line-height: 1.2;
}
.form-box {
  margin: 40px 0 17px;
}

.container2 {
  position: absolute;
  text-align: center;
  top: 0;
  left: 47%;
  right: 4000%;
  background: linear-gradient(to right, #5c2762, #0f1f39);
  color: #fff;
  border-left: 1px solid rgb(0, 0, 0);
  border-radius: 30px;
  z-index: 2;
  background-size: cover;
  box-shadow: -15px 0px 0 hsla(0, 0%, 75%, 0.6);
  width: 370px;
  height: 450px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.container2 .circle {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  overflow: hidden; /* Asegura que la imagen no se salga del borde circular */
  display: flex;
  align-items: center;
  border: 2px solid #ccc;
  margin: -10px 111px 7px;
  background-color: white;
}

.Registrarse button {
  background: linear-gradient(90deg, #c44dcd, #7c70f8);
  color: white;
  border: 2px solid #ffffff;
  padding: 10px 30px;
  font-size: 16px;
  border-radius: 25px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  outline: none;
  transition: background 0.3s ease;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  margin-top: 35px;
}
.Registrarse button:hover {
  background: linear-gradient(90deg, #d94fff, #6fa2ff);
}
.Registrarse button a {
  color: white;
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
  line-height: 1.2;
}
.Registrarse P {
  margin-top: 46px;
}
.contra {
  display: flex;
  color: #ffffffc9;
  justify-content: center;
  font-size: 14.5px;
  margin-right: 29px;
  margin-top: 28px;
  text-decoration: underline;
}

.forgot-password {
  color: #bfbcce;
}

.forgot-password:hover {
  color: #7c7a9cc9;
}
.circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.login-btn {
  width: 60%;
  padding: 10px;
  background-color: #1c2844;
  color: #fff;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
  margin: 10px 10px 10px;
}
.oauth-options {
  text-align: center;
  margin-top: 28px;
  margin-left: 45px;
  width: 54%;
}

.google-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  color: rgb(0, 0, 0);
  border: 2px solid #8b8b8b;
  border-radius: 25px;
  padding: 10px 110px;
  font-size: 15px;
  cursor: pointer;
  transition: background 0.3s ease;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
  outline: none;
  width: 100%;
}

.google-btn:hover {
  background: rgb(209, 207, 207);
}

.google-icon {
  width: 22px;
  height: 22px;
  margin-right: 10px;
}

.btn-text {
  font-family: "Arial", sans-serif;
  text-align: center;
  white-space: nowrap;
}
