* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}


body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to right, #c44dcd, #7c70f8);
  background-size: cover;
  background-position: center;
}


.container {
  position: relative;
  width: 100%;
  max-width: 1000px;
  height: 600px;
  display: flex;
  box-shadow: 20px 20px 20px rgba(73, 45, 90, 0.698);
  border-radius: 10px;
  background-size: cover;
  overflow: hidden;
}

.image-container2 {
  position: absolute;
  right: 0;
  width: 50%; /* mitad del contenedor */
  overflow: hidden;
  height: 100%; 
  align-items: center;
  z-index: -1;
  transition: transform 0.8s ease, opacity 0.8s ease;
}

.image-container2 img {
  width: 100%; 
  height: 100%;
  object-fit: cover; /* Mantiene la proporción de la imagen */
  transition: transform 0.6s ease-in-out, opacity 0.8s ease;
}
.image-container{
  width: 50%;
  position: relative;
  overflow: hidden;
  transition: transform 0.8s ease, opacity 0.8s ease;
}


.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.6s ease-in-out, opacity 0.8s ease;
}


/* Asegurando que la imagen desaparezca en la vista de Login */
.image-container.hidden {
  transform: translateX(100%); /* Se desplaza fuera de la pantalla */
  opacity: 0; /* La imagen desaparece gradualmente */
}


/* Mostrar imagen en la vista de Sign Up */
.image-container2.visible {
  transform: translateX(0); /* Imagen vuelve a su lugar */
  opacity: 1; /* Imagen completamente visible */
}
.image-container2.hidden {
  transform: translateX(100%); /* Se desplaza fuera de la pantalla */
  opacity: 0; /* La imagen desaparece gradualmente */
}


/* Mostrar imagen en la vista de Sign Up */
.image-container.visible {
  transform: translateX(0); /* Imagen vuelve a su lugar */
  opacity: 1; /* Imagen completamente visible */
}


/* Estilos para las transiciones del formulario */
.form-container.slide-right {
  transform: translateX(100%);
}


.form-container.slide-left {
  transform: translateX(-100%);
}

.form-container {
  background-color: #b7cbf7;
  width: 50%;
  padding: 50px;
  display: flex;
    transition: transform 0.5s ease-in-out; /* Transición más rápida para el formulario */
}


.login-form {
  color: white;
  max-width: 300px;
  margin: 0 auto;
  z-index: 2; 
}


.login-form h2 {
  font-size: 2em;
  margin-bottom: 20px;
  text-align: center;
}


.input-group {
  position: relative;
  margin-bottom: 20px;
}


.input-group i {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: #000000;
}


.input-group input {
  width: 100%;
  padding: 10px 15px 10px 45px;
  border: none;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s;
}


.input-group input:focus {
  background-color: rgba(255, 255, 255, 0.2);
  outline: none;
}


.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9em;
  margin-bottom: 20px;
}


.options a {
  color: #4CAF50;
  text-decoration: none;
}


button {
  width: 100%;
  padding: 12px;
  background: linear-gradient(to right, #c44dcd, #7c70f8);
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}



button:hover {
  background-color: #45a049;
}


.social-login {
  text-align: center;
  margin-top: 20px;
}


.social-login p {
  margin-bottom: 10px;
}


.social-icons {
  display: flex;
  justify-content: center;
}


.social-icons a {
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  transition: background-color 0.3s;
}


.social-icons a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}


#toggle-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 10px 10px;
  background-color: transparent;
  color: white;
  border: 2px solid white;
  cursor: pointer;
  z-index: 2;
}


#toggle-btn:hover {
  background-color: white;
  color: #0B0F08;
}


.form-container.slide-right {
  transform: translateX(0);
}


.form-container.slide-left {
  transform: translateX(-100%);
}


.image-container img.zoom-in {
  transform: scale(1.1);
}
.image-container2 img.zoom-in {
  transform: scale(1.1);
}

