* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url("/public/assets/espartano.jpeg") no-repeat;
  background-size: cover;
  background-position: center;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1000px;
  height: 600px;
  display: flex;
  box-shadow: 0 0 15px 10px rgba(172, 170, 170, 0.698);
  border-radius: 10px;
  background-size: cover;
  overflow: hidden;
}

.image-container2 {
  position: absolute;
  right: 0;
  width: 50%; /* mitad del contenedor */
  overflow: hidden;
  height: 100%;
  align-items: center;
  z-index: -1;
  transition: transform 0.8s ease, opacity 0.8s ease;
}

.image-container2 img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Mantiene la proporción de la imagen */
  transition: transform 0.6s ease-in-out, opacity 0.8s ease;
}
.image-container {
  width: 50%;
  position: relative;
  overflow: hidden;
  transition: transform 0.8s ease, opacity 0.8s ease;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.6s ease-in-out, opacity 0.8s ease;
}

/* Asegurando que la imagen desaparezca en la vista de Login */
.image-container.hidden {
  transform: translateX(100%); /* Se desplaza fuera de la pantalla */
  opacity: 0; /* La imagen desaparece gradualmente */
}

/* Mostrar imagen en la vista de Sign Up */
.image-container2.visible {
  transform: translateX(0); /* Imagen vuelve a su lugar */
  opacity: 1; /* Imagen completamente visible */
}
.image-container2.hidden {
  transform: translateX(100%); /* Se desplaza fuera de la pantalla */
  opacity: 0; /* La imagen desaparece gradualmente */
}

/* Mostrar imagen en la vista de Sign Up */
.image-container.visible {
  transform: translateX(0); /* Imagen vuelve a su lugar */
  opacity: 1; /* Imagen completamente visible */
}

/* Estilos para las transiciones del formulario */
.form-container.slide-right {
  transform: translateX(100%);
}

.form-container.slide-left {
  transform: translateX(-100%);
}

.form-container {
  background-color: #ffffff;
  width: 50%;
  padding: 50px;
  display: flex;
  transition: transform 0.5s ease-in-out; /* Transición más rápida para el formulario */
}

.login-form {
  max-width: 300px;
  margin: 0 auto;
  margin-top: 50px;
}

.login-form h2 {
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 60px;
  color: rgb(124, 85, 231);
  text-shadow: -1px 0 1px #000000, 0 1px 1px #000000, 1px 0 1px #000000,
    0 -1px 1px #000000, -2px 2px 2px #000000, 2px 2px 2px #000000,
    1px 1px 1px #000000, 2px 2px 2px #000000, 3px 3px 3px #000000,
    4px 4px #3d3d3d, 5px 5px #3d3d3d, 6px 6px #3d3d3d, 7px 7px #3d3d3d;
}
.login-form2 h2 {
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  color: rgb(124, 85, 231);
  text-shadow: -1px 0 1px #000000, 0 1px 1px #000000, 1px 0 1px #000000,
    0 -1px 1px #000000, -2px 2px 2px #000000, 2px 2px 2px #000000,
    1px 1px 1px #000000, 2px 2px 2px #000000, 3px 3px 3px #000000,
    4px 4px #3d3d3d, 5px 5px #3d3d3d, 6px 6px #3d3d3d, 7px 7px #3d3d3d;
}

.input-group {
  position: relative;
  margin-bottom: 20px;
}

.input-group i {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: #000000;
}

.input-group input {
  width: 100%;
  padding: 10px 15px 10px 45px;
  border: none;
  background-color: rgba(176, 176, 176, 0.303);
  color: rgb(0, 0, 0);
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s;
}

.input-group input:focus {
  background-color: rgba(255, 255, 255, 0.2);
  outline: none;
}

.options {
  display: flex;
  align-items: center;
  font-size: 0.9em;
  margin-bottom: 20px;
  gap: 18px;
  font-size: 12px;
}

.options a {
  color: #161d7d;
}
.options a:hover {
  transform: scale(
    0.95
  ); /* Simula el hundimiento al reducir el tamaño ligeramente */
}

@keyframes move-right {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0); /* Mover 100px a la derecha */
  }
}

@keyframes move-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%); /* Volver a la posición original */
  }
}

.btn1 button {
  width: 11%;
  padding: 12px;
  background: linear-gradient(to right, #c44dcd, #7c70f8);
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-right: 48%;
  margin-top: -20px;
  position: relative; /* Necesario para la animación */
}

.move-right {
  animation: move-right 0.5s forwards;
}
input::placeholder {
  color: #8a8a8a;
}

.move-left {
  animation: move-left 0.5s forwards;
}
.btn2,
.btn0,
.btn3 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.btn2 a {
  width: 60%;
  padding: 11px 60px;
  background: linear-gradient(to right, #c44dcd, #7c70f8);
  color: white;
  border: none;
  border-radius: 50px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s ease;
  display: inline-block;
  text-decoration: none;
  white-space: nowrap; /* Evita que el texto se divida en varias líneas */
  min-width: 50px; /* Fija un ancho mínimo para el botón */
}
.btn0 a {
  width: 60%;
  padding: 11px 40px;
  background: linear-gradient(to right, #c44dcd, #7c70f8);
  color: white;
  border: none;
  border-radius: 50px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s ease;
  display: inline-block;
  text-decoration: none;
  white-space: nowrap; /* Evita que el texto se divida en varias líneas */
  min-width: 50px; /* Fija un ancho mínimo para el botón */
}

.btn1 button:hover {
  background: linear-gradient(to right, #ca6ad1, #8a7ffa);
  transform: scale(0.95);
}

.btn2 a:hover {
  transform: scale(
    0.95
  ); /* Simula el hundimiento al reducir el tamaño ligeramente */
  background: linear-gradient(to right, #ca6ad1, #8a7ffa);
}
.btn0 a:hover {
  transform: scale(
    0.95
  ); /* Simula el hundimiento al reducir el tamaño ligeramente */
  background: linear-gradient(to right, #ca6ad1, #8a7ffa);
}
.btn2 a:active {
  transform: scale(0.9); /* Hundimiento más pronunciado al hacer clic */
}
.btn0 a:active {
  transform: scale(0.9); /* Hundimiento más pronunciado al hacer clic */
}

.social-login {
  text-align: center;
  margin-top: 20px;
}

.social-login p {
  margin-bottom: 10px;
}

.social-icons {
  display: flex;
  justify-content: center;
}

.social-icons a {
  color: white;
  background: linear-gradient(to right, #ca6ad1, #8a7ffa);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  transition: background-color 0.3s;
}

.social-icons a:hover {
  transform: scale(
    0.95
  ); /* Simula el hundimiento al reducir el tamaño ligeramente */
  background: linear-gradient(to right, #c08bc4, #a49df1);
}
.social-icons a:active {
  transform: scale(0.9); /* Hundimiento más pronunciado al hacer clic */
}
#toggle-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 10px 10px;
  background-color: transparent;
  color: white;
  border: 2px solid white;
  cursor: pointer;
  z-index: 2;
  transition: background-color 0.3s, transform 0.2s ease;
  display: flex;
  align-items: center;
  gap: 10px; /* Espacio entre el texto y el icono */
}

.form-container.slide-right {
  transform: translateX(0);
}

.form-container.slide-left {
  transform: translateX(-100%);
}

.image-container img.zoom-in {
  transform: scale(1.1);
}
.image-container2 img.zoom-in {
  transform: scale(1.1);
}
