html,
body {
  background: linear-gradient(90deg, #f5d7fd, #ffffff);
  margin: 0;
  font-family: "Roboto", sans-serif;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}
h1 {
  font-size: 3.5em;
  margin-bottom: 10px;
  text-align: left;
  letter-spacing: 0.05em;
  margin-right: 70px;
}

.container {
  max-width: unset;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
header {
  background-color: #000000;
  height: 60px;
}

header nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 42px;
}

header a {
  padding: 5px 12px;
  text-decoration: none;
  font-weight: bold;
  color: #ffffff;
  font-size: 1.18em;
  margin-right: 18px;
  margin-top: 4px;
  transition: all 0.3s;
}

header a:hover {
  color: #ff94f8;
  transform: scale(1.08);
}

#hero {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.inform {
  display: flex;
  align-items: center; /* Alinear verticalmente en el centro */
  flex-direction: column;
  justify-content: center; /* Alinear horizontalmente en el centro */
  width: 400px;
  height: 700px;
  box-shadow: 4px 4px 4px 5px rgba(87, 87, 87, 0.5);
  background: hsla(0, 0%, 100%, 0.377);
  border: 1px solid #1f1e1e;
  border-radius: 28px;
  margin-top: 40px;
  h2 {
    font-size: 30px;
    margin-bottom: -1px;
  }
  h3,
  .redes {
    font-size: 20px;
  }
}

HR {
  margin-top: -15px;
}

h5 {
  margin-top: -8.5px;
  color: #2b5161;
}

.c {
  font-size: 1.1em;
  cursor: pointer;
  font-weight: bold;
  padding: 7px 30px;
  border-radius: 15px;
  border: 1px solid #000000;
  color: #ffffff;
  background: linear-gradient(90deg, #c44dcd, #7c70f8);
  box-shadow: 2px 2px 2px rgba(81, 80, 80, 0.5);
}
.c:hover {
  background: linear-gradient(90deg, #d94fff, #6fa2ff);
}

.slogo {
  margin-left: 10px;
  padding-top: 3px;
}

.container2 {
  width: 100%;
  max-width: 600px;
}
.datos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 20px;
  box-shadow: 4px 3px 4px 3px rgba(87, 87, 87, 0.5);
  background: linear-gradient(to right, #5c2762, #0f1f39);
  height: 750px;
  border-radius: 28px;
  margin-top: 40px;
}

.infper,
.contact,
.estudios,
.opc {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 20px;
}

.infper {
  grid-column: 1 / 3;
  grid-row: 1;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  align-content: center;
}

.infper .input-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.contact {
  grid-column: 1;
  grid-row: 2;
  margin-left: 20px;
  align-content: center;
}

.estudios {
  grid-column: 1;
  grid-row: 3;
  margin-bottom: 20px;
  margin-left: 20px;
  align-content: center;
}

.opc {
  grid-column: 2;
  grid-row: 2 / 4;
  margin-bottom: 20px;
  margin-right: 20px;
  align-content: center;
}

.container2 h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
  margin-top: 0;
  margin-bottom: 15px;
  color: #ffff;
}

.container2 h2 img {
  margin-left: 10px;
}

input {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 15px;
  background-color: #ebebeb;
  color: #333;
  box-shadow: 2px 2px 2px rgba(32, 32, 32, 0.5);
  border: 1px solid #4f4e4e;
  font-size: 15px;
}

input::placeholder {
  color: #b9b9b9;
  font-size: 15px;
}

input[type="button"] {
  background-color: #83378e;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 15px 2px;
  cursor: pointer;
  border-radius: 15px;
  box-shadow: 2px 2px 2px rgba(18, 18, 18, 0.5);
  transition: all 0.3s;
}

input[type="button"]:hover {
  transform: scale(1.05);
  background-color: #9f41ac;
}

.profile-pic {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d9d9d9;
  overflow: hidden;
  position: relative;
  border: 9px solid #904191;
}

.profile-pic img {
  width: 60%;
  height: 60%;
  object-fit: cover;
}
