html,
body {
  background: linear-gradient(90deg, #f5d7fd, #ffffff);
  margin: 0;
  font-family: "Roboto", sans-serif;
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 2em;
  margin-bottom: 10px;
  text-align: left;
  letter-spacing: 0.05em;
  margin-right: 5%;
}

.container {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 2%;
}

header {
  background-color: #000000;
  height: 60px;
  flex-shrink: 0;
  margin-bottom: 30px;
}

header nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 20px;
}

header a {
  padding: 5px 10px;
  text-decoration: none;
  font-weight: bold;
  color: #ffffff;
  font-size: 1em;
  margin-right: 10px;
  margin-top: 4px;
  transition: all 0.3s;
}

header a:hover {
  color: #ff94f8;
  transform: scale(1.08);
}

#hero {
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: center;
  flex-grow: 1;
  overflow: hidden;
}

.inform,
.container2 {
  flex: 1;
  overflow-y: auto;
  margin: 10px;
  max-height: calc(100vh - 80px);
}

.inform {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 45%;
  min-width: 300px;
  max-width: 800px;
  box-shadow: 4px 4px 4px 0px rgba(87, 87, 87, 0.5);
  background: hsla(0, 0%, 100%, 0.377);
  border: 1px solid #1f1e1e;
  border-radius: 28px;
  padding: 20px;
  height: 76%;
  overflow-x: hidden;
}

.inform h2 {
  font-size: 1.6em;
  margin-bottom: 5px;
}

.inform h3,
.inform .redes {
  font-size: 1.1em;
}

hr {
  margin: 10px 0;
  width: 55%;
}

h5 {
  margin-top: 5px;
  color: #2b5161;
}

.c {
  font-size: 0.9em;
  cursor: pointer;
  font-weight: bold;
  padding: 7px 15px;
  border-radius: 15px;
  border: 1px solid #000000;
  color: #ffffff;
  background: linear-gradient(90deg, #c44dcd, #7c70f8);
  box-shadow: 2px 2px 2px rgba(81, 80, 80, 0.5);
}

.c:hover {
  background: linear-gradient(90deg, #d94fff, #6fa2ff);
}

.slogo {
  margin-left: 10px;
  padding-top: 3px;
  height: 40px;
  width: auto;
}

.container2 {
  width: 90%;
  max-width: 600px;
  margin-left: 0px;
}

.datos {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
  box-shadow: 4px 3px 4px 1px rgba(87, 87, 87, 0.5);
  background: linear-gradient(to right, #5c2762, #0f1f39);
  border-radius: 28px;
  padding: 15px;
  height: 80%;
  margin-left: 0px;
}

.infper,
.contact,
.estudios,
.opc {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  align-content: center;
  padding: 15px;
}

.infper .input-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 8px;
}

.container2 h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1em;
  margin-top: 0;
  margin-bottom: 10px;
  color: #ffff;
}

.container2 h2 img {
  margin-left: 10px;
  height: 25px;
  width: auto;
}

input {
  width: 100%;
  padding: 8px 4px;
  margin-bottom: 10px;
  border: none;
  border-radius: 15px;
  background-color: #ebebeb;
  color: #333;
  box-shadow: 2px 2px 2px rgba(32, 32, 32, 0.5);
  border: 1px solid #4f4e4e;
  font-size: 14px;
}

input::placeholder {
  color: #b9b9b9;
  font-size: 14px;
}

input[type="button"] {
  background-color: #83378e;
  border: none;
  color: white;
  padding: 8px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 10px 2px;
  cursor: pointer;
  border-radius: 15px;
  box-shadow: 2px 2px 2px rgba(18, 18, 18, 0.5);
  transition: all 0.3s;
}

input[type="button"]:hover {
  transform: scale(1.05);
  background-color: #9f41ac;
}

.profile-pic {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d9d9d9;
  overflow: hidden;
  position: relative;
  border: 7px solid #904191;
  margin-bottom: 15px;
}

.profile-pic img {
  width: 60%;
  height: 60%;
  object-fit: cover;
}

@media screen and (min-width: 768px) {
  .datos {
    grid-template-columns: 1fr 1fr;
  }

  .infper {
    grid-column: 1 / 3;
  }

  .infper .input-grid {
    grid-template-columns: 1fr 1fr;
  }

  .opc {
    grid-column: 2;
    grid-row: 2 / 4;
  }
}

@media screen and (min-width: 1024px) {
  #hero {
    justify-content: center;
  }

  .inform,
  .container2 {
    margin: 10px;
  }
}
