
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:url('img/espartano.jpg') no-repeat;
    background-size: cover;
    background-position: center;
  }
  section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
  }
  .container{
    position: relative;
    width: 680px;
    height: 450px;
    background: hsla(0, 14%, 99%, 0.404);
    color: #fff;
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 0 0 68px  #0F1F39;
    border-radius: 30px;
    background-size: cover;
    z-index: 1;
  }

  .container .form-box{
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .form-box h1 {
   font-size: 27px;
   width: 54%;
   margin-top: -90px;
   color: #ffffff;
   outline: none;
   border-radius: 35px ;
   background: linear-gradient(to right, #C44DCD, #7C70F8); 
   text-align: center;
   margin-left: 65px;
   padding: 6px 18px;
   border: 2px solid #ffffff;
  }

  .form-box .inputbox{
    position: relative;
    width: 78%;
    height: 50px;
    margin: 25px ;

  }
  .inputbox input{
    width: 89%;
    height:80%;
    background: white;
    border: none;
    outline: none;
    box-shadow: 0 0 9px hsla(0, 20%, 1%, 0.425);
    border-radius: 35px;
    font-size: 16px;
    margin-left: 13px;
    padding: 20px 45px 20px 20px;
  }
  input::placeholder {
    color: #C3BFBF;
  }
  .inputbox label{
    margin: 20px ;
  }
  .inputbox-iniciar button {
    background: linear-gradient(90deg, #C44DCD, #7C70F8);  
    color: white; 
    border: 2px solid #ffffff;
    padding: 10px 20px; 
    font-size: 16px; 
    border-radius: 25px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2); 
    outline: none; 
    transition: background 0.3s ease;
    display: inline-block; 
    text-align: center; 
    text-decoration: none; 
    margin-left: 65px;
    margin-top: 60px;
    width: 54%;
    height:10%;
}

.inputbox-iniciar button:hover {
    background: linear-gradient(90deg, #d94fff, #6fa2ff); 
}
.inputbox-iniciar button a {
    color: white; 
    text-decoration: none;
    display: block; 
    width: 100%;
    height: 100%; 
    line-height: 1.2; 
}
 .acep {
   display: flex;
   color: #383535;
   justify-content: center;
   font-size: 14.5px;
   margin-right: 29px;
   margin-top: 60px;
   text-decoration: underline;
  }
  .form-box{
    margin: 30px 0 17px;
  }

.container2{
    position: absolute;
    text-align: center;
    top: 0;
    left: 47%;
    right: 4000%;
    background: linear-gradient(to right, #5C2762, #0F1F39); 
    color: #fff;
    border-left: 1px solid rgb(0, 0, 0);
    border-radius: 30px;
    z-index: 2;
    background-size: cover;
    box-shadow: -15px 0px 0 hsla(0, 0%, 89%, 0.60); 
    width: 370px;
    height: 450px;
    display: flex; 
    justify-content: center;
    flex-direction: column;
  }
.container2 .circle {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    overflow: hidden; /* Asegura que la imagen no se salga del borde circular */
    display: flex;
    align-items: center;
    border: 2px solid #ccc; 
    margin: -10px 111px 7px; 
    background-color: white;

}

.Registrarse button{
    background: linear-gradient(90deg, #C44DCD, #7C70F8);  
    color: white; 
    border: 2px solid #ffffff;
    padding: 10px 30px; 
    font-size: 16px; 
    border-radius: 25px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2); 
    outline: none; 
    transition: background 0.3s ease;
    display: inline-block; 
    text-align: center; 
    text-decoration: none; 
    margin-top: 35px;
}
.Registrarse button:hover {
    background: linear-gradient(90deg, #d94fff, #6fa2ff); 
}
.Registrarse button a {
    color: white; 
    text-decoration: none;
    display: block; 
    width: 100%;
    height: 100%; 
    line-height: 1.2; 
}
.Registrarse P{
    margin-top: 46px;
}
.contra {
    margin-top: 50px;
}

  .forgot-password {
    color: #7D7D7D;
 }
 
 .forgot-password:hover {
    color: #00000091; 
 }
.circle img {
    width: 100%;
    height: 100%; 
    object-fit: cover; 
}

